@charset "UTF-8";
/* font list */
@font-face {
  font-family: 'neo_l';
  font-display: auto;
  font-weight: 400;
  src: url('../assets/font/NanumSquareNeoOTF-aLt.otf') format('OpenType');
}
@font-face {
  font-family: 'neo_r';
  font-display: auto;
  font-weight: 500;
  src: url('../../assets/font/NanumSquareNeoOTF-bRg.otf') format('OpenType');
}
@font-face {
  font-family: 'neo_b';
  font-display: auto;
  font-weight: 600;
  src: url('../../assets/font/NanumSquareNeoOTF-cBd.otf') format('OpenType');
}
@font-face {
  font-family: 'neo_eb';
  font-display: auto;
  font-weight: 700;
  src: url('../../assets/font/NanumSquareNeoOTF-dEb.otf') format('OpenType');
}
@font-face {
  font-family: 'neo_hb';
  font-display: auto;
  font-weight: 800;
  src: url('../../assets/font/NanumSquareNeoOTF-eHv.otf') format('OpenType');
}

/* css reset */
* {
  margin: 0;
  padding: 0;
  font-family: 'neo_r';
  font-size: 16px;
  color: #141414;
  transition: 0.3s;
}

html,
body {
  width: 100%;
  height: auto;

  background-color: #ffffff;
}

a,
a:link,
a:hover,
a:active,
a:visited {
  color: #141414;
  text-decoration: none;
  cursor: pointer;
}

ul,
ul li {
  list-style: none;
}

button,
button:focus {
  border: 0;
  background-color: #ffffff;
  outline: 0;
  cursor: pointer;
}

.wrap {
  position: relative;
  width: 100%;
  height: auto;
  min-width: 1600px;
  min-height: calc(100% - 120px);
}

/* mob menu ani */
.menu-trigger {
  display: none;
}

/* pc 로그인_회원가입 영역 */
.sign_area_pc {
  width: 100%;
  height: auto;
  background-color: #dddddd;
}

.sign_area_pc p {
  width: 1400px;
  height: auto;
  font-family: 'neo_r';
  font-size: 16px;
  color: #666666;
  text-align: right;
  padding: 12px 0 12px 0;
  margin: 0 auto;
}

.sign_area_pc p span {
  font-family: 'neo_r';
  font-size: 14px;
  color: #666666;
  text-align: right;
  margin: 0 20px 0 20px;
}

.sign_area_pc p a {
  font-family: 'neo_r';
  font-size: 16px;
  color: #666666;
  text-align: right;
}

.sign_area_mob {
  display: none;
}

/* pc nav */
.nav_area {
  position: sticky;
  top: 0px;
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  z-index: 1000;
  box-shadow: 0 8px 8px -4px #00000022;
}

.nav_area .inner {
  width: 1400px;
  height: 80px;
  margin: 0 auto;
  clear: both;
}

.nav_area .inner > a {
  height: 80px;
  display: inline-block;
}

.nav_area .inner > a .logo {
  height: 80px;
}

.nav_area .inner ul {
  float: right;
}

.nav_area .inner ul li {
  float: left;
  margin-left: 80px;
}

.nav_area .inner ul li > a {
  height: 80px;
  line-height: 80px;
  font-family: 'neo_b';
  font-size: 18px;
  color: #666666;
  text-align: right;
}

.nav_area .inner ul li > a:hover,
.nav_area .inner ul li > a.active {
  font-family: 'neo_eb';
  color: #141414;
}

.sign_area_mob {
  display: none;
}

/* footer */
.footer_area {
  width: 100%;
  height: auto;
  background-color: #dddddd;
  padding: 60px 0 40px 0;
}

.footer_area .inner {
  width: 1400px;
  height: auto;
  margin: 0 auto;
}

.footer_area .inner p,
.footer_area .inner p span {
  font-family: 'neo_r';
  font-size: 18px;
  color: #666666;
  margin-bottom: 20px;
}

.footer_area .inner p span {
  margin-left: 20px;
}

.footer_area .inner p br {
  display: none;
}

/* pc 통합 검색 영역 */

@media (max-width: 700px) {
  .wrap {
    min-width: 0;
  }

  /* pc 로그인_회원가입 영역 none */
  .sign_area_pc {
    display: none;
  }

  .sign_area_mob {
    display: block;
  }

  /* mob nav */
  .nav_area {
    height: 60px;
  }

  .nav_area .inner {
    width: 100%;
    height: 60px;
  }

  .nav_area .inner > * {
    float: left;
  }

  .nav_area .inner > a {
    height: 60px;
    display: block;
    margin-left: 15px;
  }

  .nav_area .inner > a .logo {
    height: 60px;
  }

  .nav_area .inner ul {
    width: 100%;
    height: 0;
    float: none;
    position: absolute;
    top: 60px;
    background-color: #988e7e;
    border-radius: 0 0 20px 20px;
    overflow: hidden;
  }

  .nav_area .inner ul.active {
    height: 348px;
    box-shadow: 0 8px 8px -2px #00000033;
  }

  .nav_area .inner ul li {
    float: none;
    margin: 0;
    text-align: center;
    background-color: #eeeeee;
  }

  .nav_area .inner ul li > a {
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    color: #666666;
    text-align: center;
  }

  .nav_area .inner ul li > a:hover {
    font-family: 'neo_eb';
    color: #141414;
  }

  .nav_area .inner ul li:nth-of-type(5) {
    border-radius: 0 0 20px 20px;
  }

  .sign_area_mob {
    display: block;
  }

  .nav_area .inner ul .sign_area_mob {
    height: auto;
    padding: 15px 0 15px 0;
    background-color: #988e7e;
    border-radius: 0 0 20px 20px;
  }

  .nav_area .inner ul .sign_area_mob > p {
    text-align: center;
    font-size: 14px;
    color: #fff;
  }

  .nav_area .inner ul .sign_area_mob a {
    display: inline-block;
    font-size: 14px;
    color: #fff;
  }

  .nav_area .inner ul .sign_area_mob span {
    margin: 0 20px 0 20px;
    font-size: 13px;
    color: #fff;
  }

  /* menu ani */
  .menu-trigger {
    margin: 15px 20px;
    float: right !important;
  }

  .menu-trigger,
  .menu-trigger span {
    display: inline-block;
    transition: all 0.4s;
    box-sizing: border-box;
  }

  .menu-trigger {
    position: relative;
    width: 34px;
    height: 30px;
    display: block;
  }

  .menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #988e7e;
    border-radius: 2px;
  }

  .menu-trigger span:nth-of-type(1) {
    top: 0;
  }

  .menu-trigger span:nth-of-type(2) {
    top: 13px;
  }

  .menu-trigger span:nth-of-type(3) {
    bottom: 0;
  }

  .menu-trigger.active span:nth-of-type(1) {
    -webkit-transform: translateY (14px) rotate (-45deg);
    transform: translateY(14px) rotate(-45deg);
  }

  .menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
  }

  .menu-trigger.active span:nth-of-type(3) {
    -webkit-transform: translateY(-12px) rotate(45deg);
    transform: translateY(-12px) rotate(45deg);
  }

  /* footer */
  .footer_area {
    width: calc(100% - 40px);
    padding: 40px 20px 20px 20px;
  }

  .footer_area .inner {
    width: 100%;
  }

  .footer_area .inner p,
  .footer_area .inner p span {
    line-height: 25px;
    text-align: center;
    font-size: 11px;
    margin-bottom: 15px;
  }

  .footer_area .inner p span {
    margin-left: 20px;
  }

  .footer_area .inner p br {
    display: block;
  }

  .footer_area .inner p span:first-of-type {
    margin-left: 0;
  }
}
