@charset "UTF-8";
/* main area */

.main_area {
  width: 100%;
  height: auto;
  position: relative;
}

.total_search_area {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #cabca7;
  background-image: url('../assets/images/main_back_g.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.total_search_area .inner {
  position: relative;
  top: 0;
  z-index: 350;
  width: 1400px;
  height: auto;
  padding: 80px 0;
  margin: 0 auto;
}

.total_search_area .inner .main_title {
  text-align: center;
  color: #fff;
  font-family: 'neo_b';
  letter-spacing: 3px;
  font-size: 36px;
  text-shadow: 0px 0px 30px #635845;
  margin: 40px 0 40px 0;
}

/* ani */

canvas {
  display: block;
}

#particles-js {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 300;
}

/* search box */

.search_box {
  width: 700px;
  height: 70px;
  border: 6px solid #988e7e;
  border-radius: 3px;
  background-color: #fff;
  margin: 0 auto 40px;
}

.search_box form {
  width: 100%;
  height: 100%;
}

.search_box form > * {
  float: left;
}

.search_box form select {
  width: 150px;
  height: 70px;
  box-sizing: border-box;
  border: 0;
  padding: 15px 20px;
  font-size: 18px;
  font-family: 'neo_eb';
  background-color: #fff;
}

.search_box form input {
  width: 470px;
  height: 70px;
  box-sizing: border-box;
  border: 0;
  padding: 15px 20px;
  font-size: 18px;
  font-family: 'neo_eb';
}

.search_box form select:focus,
.search_box form input:focus {
  outline: none;
}

.search_box form button {
  width: 80px;
  height: 70px;
}

.search_box form button img {
  width: 40px;
  height: 40px;
  padding: 15px 20px;
}

/* main notice */

.notice_area {
  width: 100%;
  height: auto;
  background-color: #988e7e;
}

.notice_area .inner {
  width: 1400px;
  height: auto;
  margin: 0 auto;
  padding: 15px 0;
}

.notice_area .inner a {
  width: 100%;
  font-size: 16px;
  color: #fff;
  font-family: 'neo_r';
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.notice_area .inner a span {
  font-family: 'neo_eb';
  margin-right: 20px;
  color: #635845;
}

/* book area */

.book_area {
  width: 100%;
  height: auto;
  background-color: #999;
}

.book_area .inner {
  width: 1400px;
  height: auto;
  margin: 0 auto;
  padding: 40px 0;
}

.book_area .inner .book_inner {
  width: 100%;
  height: auto;
  background-color: #666;
  display: inline-block;
}

.book_area .inner .book_inner .book_box {
  float: left;
  width: 248px;
  margin-right: 40px;
}

.book_area .inner .book_inner .book_box:nth-of-type(5) {
  margin-right: 0;
}

.book_area .inner .book_inner .book_box img {
  width: 100%;
}

@media (max-width: 700px) {
  .total_search_area .inner {
    width: calc(100% - 30px);
    padding: 40px 15px;
  }

  .total_search_area .inner .main_title {
    letter-spacing: 1px;
    font-size: 21px;
    margin: 40px 0 30px 0;
  }

  /* search box */

  .search_box {
    width: calc(100% - 12px);
    height: 60px;
    border: 6px solid #988e7e;
    border-radius: 3px;
    background-color: #fff;
    margin: 0 auto 40px;
  }

  .search_box form > * {
    float: left;
  }

  .search_box form select {
    width: 100px;
    height: 60px;
    box-sizing: border-box;
    border: 0;
    padding: 15px 5px 15px 15px;
    font-size: 13px;
    font-family: 'neo_eb';
  }

  .search_box form input {
    width: calc(100% - 145px);
    height: 60px;
    box-sizing: border-box;
    border: 0;
    padding: 15px 15px;
    font-size: 13px;
    font-family: 'neo_eb';
  }

  .search_box form select:focus,
  .search_box form input:focus {
    outline: none;
  }

  .search_box form button {
    width: 45px;
    height: 60px;
  }

  .search_box form button img {
    width: 30px;
    height: 30px;
    padding: 15px 15px 15px 0;
  }

  /* main notice */

  .notice_area .inner {
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
  }

  .notice_area .inner a {
    font-size: 14px;
  }
}
